* {
  box-sizing: border-box;
}


.math-plugin-btn {
  pointer-events: none;
  opacity: 0;
}

.math-plugin-invalid-message {
  color: #cc0000;
  margin-top: 5px;
}

.math-plugin-preview {
  margin-top: 10px;
  overflow: auto;
  max-height: 30vh;
}

.math-plugin-latex {
  margin-top: 10px;
}

.math-plugin-latex-label {
  font-weight: bold;
}

.math-plugin .math-buttons > .math-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  color: #fff;
  background-color: var(--math-plugin-theme); /* Bootstrap secondary gray */
  border-color: var(--math-plugin-theme);
}

.disable-math-save-btn {
  opacity: 0.5;
  cursor: default !important;
}

.math-plugin .math-footer {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

.math-plugin .math-footer > .math-buttons {
  display: flex;
  gap: 10px;
}

.math-plugin .square-root > svg {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

math-field {
  border: solid 1px var(--math-plugin-theme) !important;
  border-radius: 8px;
  --caret-color: var(--math-plugin-theme);
} 

math-field:focus-within {
  outline: 1.75px solid var(--math-plugin-theme) !important;
}

.math-plugin .math-equation {
  width: fit-content;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.math-plugin-dummy {
  border: solid;
  width: 100%;
}

span.math-equation {
  display: inline !important;
}

.math-equation-selected {
  border: solid 1px #4098fe;
  padding: 0px 30px;
  border-radius: 10px;
}

.preview-of-math-equation {
  text-align: center;
  vertical-align: baseline;
}

.math-field.custom-font {
  font-family: "Arial", sans-serif;
}

#mathlive-suggestion-popover {
  z-index: 999999 !important;
  height: 40vh !important;
}

.after-math-field {
  display: flex;
  justify-content: space-between;
}

.math-plugin-latex-arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.math-plugin-latex-arrow.rotated {
  transform: rotate(180deg);
}
