
.equation-preview,
.rendered-equation {
  margin-top: 20px;
  font-size: 24px;
  border: 1px solid #ddd;
  padding: 10px;
}

.actions {
  margin-top: 20px !important;
}

.enter-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.enter-button:hover {
  background-color: #45a049;
}

.math-editor .math-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100 !important;
}

.math-editor .math-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  position: relative;
}

.math-editor > .math-modal-overlay > .math-modal-content > .math-modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  margin-left: 10px;
  cursor: pointer;
  background-color: #6c757d;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid #6c757d;
  border-radius: 50%;
  padding: 0 8px;
  color: #fff;

}

.math-editor > .math-modal-overlay > .math-modal-content > .math-header{
  margin-bottom: 20px;
}

.math-editor .math-buttons > .btn {
  padding: 10px 20px !important;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease; 
  color: #fff;
  background-color: #6c757d; /* Bootstrap secondary gray */
  border-color: #6c757d;
}

.math-editor .math-footer {
  display: flex;
  justify-content: end;
  margin-top: 20px !important;
}

.math-editor .math-footer > .math-buttons {
  display: flex;
  gap: 10px;
}

.math-editor .square-root > svg {
  background-color: transparent !important;
  cursor: pointer;
  border: none !important;
}

.math-editor > .math-modal-overlay > .math-modal-content > math-field {
  border: solid 1px #000000 !important;
  border-radius: 5px;
}
